.TalkCard {
  border-bottom: 1px solid gray;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.8rem 0;
}

.TalkSpeakerPhoto {
  border-radius: 0.5rem;
  display: block;
  width: 4.4rem;
}

.TalkTime {
  display: block;
  font-size: 1.3em;
  font-weight: 700;
  padding: 0.8rem 0;
}

.TalkTitle {
  font-size: 1.7em;
  font-weight: 700;
  margin: 0;
}

@media screen and (min-width: 576px) {
  .TalkCard {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }

  .TalkDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }

  .TalkSpeakerInfo {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }
}
