@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --color-primary: gold;
  --color-primary-text: black;
}

body {
  background-color: var(--color-primary-text);
  font-family: "Open Sans", sans-serif;
  color: var(--color-primary);
  margin: 0;
  padding: 0;
}
